.home-slideshow-sidebar-item {
  height: 25%;
}

.home-slideshow-sidebar-item__content {
  display: flex;
  color: white;
  background-color: #2a2a2a;
  align-items: center;
  height: 247px;
  overflow: hidden;
  padding-left: 16px;
}

.home-slideshow-sidebar-item__img {
  width: 50%;
}

.home-slideshow-sidebar-item__progressbar {
  height: 3px;
  /* background-color: #2a2a2a; */
}

.home-slideshow-sidebar-item__progressbar-active {
  z-index: 999;
  width: 0;
  height: 3px;
  background-color: white;
  animation: forwards 5s sidebar__progressbar;
}

@keyframes sidebar__progressbar {
  to {
    width: 100%;
  }
}
