.home-slideshow {
  width: 1248px;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: auto;
  grid-template-areas: "active sidebar";
}

.home-slideshow__active {
  padding: 16px 0 16px 16px;
  background: #2a2a2a;
  grid-area: "active";
}

.home-slideshow__sidebar {
  display: flex;
  flex-direction: column;
  grid-area: "sidebar";
}
