.slide {
  position: relative;
}

img {
  width: 100%;
}

.game-name {
  position: absolute;
  width: 100%;
  bottom: 64px;
  text-align: center;
}

.game-description {
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.notCurrent {
  display: none;
}
