.cart-page {
  min-height: 100vh;
}

.cart-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
}

.order-final {
  padding-top: 32px;
  display: flex;
  flex-direction: row;
  width: 500px;
  justify-content: space-around;
}

.order-button {
  background-color: #0085fc;
  color: white;
  font-size: 24px;
  border: none;
  width: 200px;
  border-radius: 10px;
}

.order-button:hover {
  cursor: pointer;
}

.order-button:focus {
  background-color: #025ead;
}

.cart-page__price-container {
  color: white;
  font-size: 24px;
}
