.main-page {
  min-height: 100vh;
}

.slideshow-layout {
  margin-top: 32px;
  display: flex;
  justify-content: center;
}

.main-page__sales-wrapper {
  display: flex;
  justify-content: center;
}

.main-page__sales-spotlight-list {
  display: flex;
  max-width: 1248px;
  flex-grow: 1;
  justify-content: space-between;
  padding-bottom: 16px;
}

.main-page__content {
  background: #0b0b0b;
}
