.game-searchbar {
  width: 100%;
  display: block;
  max-width: 863px;
  height: 64px;
  box-sizing: border-box;
  text-align: center;
  font-size: 20px;
  background: #2a2a2a;
  color: white;
  border: none;
}

.game-searchbar::placeholder {
  text-align: center;
  font-size: 20px;
}

.game-searchbar:focus {
  border: none;
  outline: none;
  
}
