/* This css contains basic styles for GameCard
It's should be importend in every GameCard */

.game-card {
  width: 275px;
  border: 1px solid black;
}

.game-card__content-container {
  padding: 8px;
}

.price-container {
  display: flex;
  width: 50%;
  justify-content: space-around;
}
