:root {
  --primary-light: #2a2a2a;
  --primary-dark: #0b0b0b;
  --active-link: #6900d1;
}

.navigation {
  z-index: 999999;
  display: flex;
  justify-content: center;
  width: 100%;
  position: sticky;
  top: 0;
  background: var(--primary-light);
}

.navigation__list {
  max-width: 1248px;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation__list a {
  padding: 16px;
  box-sizing: border-box;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  background-clip: border-box;
}

.navigation__logo-container {
  height: fit-content;
  height: 60px;
}

.navigation__cart-container {
  height: 24px;
}
.navigation__user-container {
  height: 24px;
}

.navigation__list a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.navigation__item5 {
  margin-left: auto;
  height: 100%;
}

.active {
  background-color: var(--active-link);
}

/* Clss used to deactivate background for logo */
.deactive {
  background-color: var(--primary-light);
  padding: 0 !important;
  height: 100%;
}

.cart {
  width: 100%;
}
